p{
    margin-left: 200px;
    margin-right: 290px;
}
h3{
    margin-left: 40px;
}

/* .general p h3{  
    /* display: flex;
    justify-content: center; */
    /* margin-left: 40px;
    margin-left: 40px;
    margin-right: 490px;
} */ */
#class{
    margin-right: 20px;
}